@import "siteTheme";

.loginWrapper {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;

    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.form {
    width: 70%;
    margin-bottom: 25%;

    h4 {
        text-align: start;
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 1.5rem;
    }

    label {
        display: block;
        font-weight: 500;
    }

    input {
        width: 75%;
        display: block;
        height: auto;
        padding: 10px 0px 10px 24px;
        border: solid 1px black;
        border-radius: 2px;
        text-align: left;
        text-decoration: none;
        margin: 1rem 0;
    }

    button {
        border: none;
        font-size: 1.2rem;
        padding: 12px 32px;
        color: white;
        background-color: red;
        margin-right: 1rem;
    }

    @media screen and (max-width: 800px) {
        width: 100%;
        input {
            width: 90%;
        }
        button{
            width: 100%;
            margin: 1rem 0;
        }
    }

}

.loginH2 {
    font-weight: 100;
}

.loginSpan {
    color: #000;
    margin: 1rem 0;

}

.bca {
    text-decoration: none;
    margin: 1rem 0;
    padding: 1rem 0;
}

button {
    cursor: pointer;
}

.borderBottom {
    padding: 0 0 2rem 0;
    border-bottom: 2px dashed $grey1;
    font-weight: 100;
}


.heroImageWrapper {
    position: relative;
    height: 20vw;
    background-color: $grey1;
}

.heroImage {
    width: 100%;
    height: 20vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    margin-bottom: 1rem;
}

.loginRightSideGrid {
    margin: 0 0 4rem 4rem;
    border-left: 2px solid $grey1;
    padding: 0 0 0 2rem;

    @media screen and (max-width: 800px) {
        margin: 0 0 4rem 2rem;
        padding: 0 0 0 1rem;
    }
}

.colorRed {
    color: red;
}

.colorBlue {
    color: blue;
}

.fontWeight700 {
    font-weight: 700;
}